@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}


:root {
  --branco-fundo: #fff;
  --cinza-slides: #B8B8B8;
  --azul-principal: #005594;
  --azul-rodape: #004476; 
  --azul-fonte: #002139;
  --laranja-principal: #F38143; 
  --laranja-fraco: #F6BF86;
  
  --font-principal: "Josefin Sans", sans-serif;
}

body {
    font-family: var(--font-principal);
    color: var(--azul-fonte);
    font-size: 1.125rem;
    line-height: 25px;
}

.bannerhome {
    margin-top: 72px;
    height: 163px;
    width: 100%;
    background: url('../imgs/home-imgs/banner-home.png') no-repeat;
    display: flex;
    align-items: end;
    color: var(--branco-fundo);
    background-position: center center;
}


.bannerhome > div {
    margin: 50px auto 17px;
    padding-left: 10px;
    padding-right: 10px;
}

.bannerhome > div > h1 {
    margin-bottom: 5px;
    font-size: 2.1rem;
    line-height: 33px;
}

.gastronomia {
    padding-left: 30px;
    padding-right: 30px;
}

.gastronomia > h2 {
    text-align: center;
    font-size: 1.25rem;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
  }

.gastronomia_foto {
    width: 100%;
    margin-bottom: 45px;
}
.gastronomia > hr {
    width: 243px;
    margin: auto;
    margin-bottom: 40px;
    border: 1px solid var(--laranja-principal);
}

.gastronomia p {
    margin-bottom: 20px;
}

.escolhersenac {
    background-color: var(--azul-principal);
    color: var(--branco-fundo);
    padding-left: 30px;
    padding-right: 30px;
}

.escolhersenac h3 {
    font-weight: 500;
    font-size: 1.25em;
    display: inline;
}

.escolhersenac_titulo {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
}

.escolhersenac_titulo > div {
    padding-right: 2px;
    height: 46px;
    margin-right: 15px;
    background-color: var(--laranja-principal);
}

.escolhersenac_foto {
    width: 100%;
    margin-bottom: 30px;
}

.escolhersenac p {
    padding-bottom: 20px;
}

.cursos {
    padding: 30px;
}

.cursos_titulo {
    display: flex;
   border-left: 2px solid var(--laranja-principal); 
   height: auto;
   padding-top: 3px;
   padding-left: 10px;
    
}

.cursos h3 {
    font-size: 1.25em;
    display: inline;
    
}

.slide > h4 {
    margin-top: 25px;
    font-size: 1.25rem;
    height: 50px;
}

.slide_definicao {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.125rem;  
    height: 150px;
}

.slide_data {
    margin-top: 10px;
    margin-bottom: 25px;
}

#prevButton, #nextButton{
    color: var(--azul-principal);
    font-size: 1.8rem;
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.botoes_passar {
    margin-bottom: 40px;
    margin-top: 18px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    gap: 30px;
}

.passar_bolinhas {
    margin-right: 40px;
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.circle {
    margin: 0px 8px;
    font-size: 8px;
    background-color: var(--cinza-slides);
    color: var(--cinza-slides);
    border-radius: 50%;
}

.carousel .slide {
    display: none;
}

.carousel .active {
    display: block;
}

.carousel img {
    max-width: 100%;
    height: auto;
}

.botoes_saiba {
    background-color: var(--laranja-principal);
    color: var(--branco-fundo);
    text-decoration: none;
    padding: 14px 25px;
    border-radius: 5px;
}

.sobrenos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    margin-left: 12px;
    margin-right: 12px;
    height: 245px;
    background: url('../imgs/home-imgs/sobre-nós-elemento.png');
    background-size: 100%;
    background-repeat: no-repeat;
    color: var(--branco-fundo);
}

.sobrenos p {
    margin: 20px 12px 0px 50px ;
    font-weight: 400;
    line-height: 18px;
}

.sobrenos a {
    background-color: var(--azul-principal);
    color: var(--branco-fundo);
    text-decoration: none;
    padding: 10px 35px;
    border-radius: 45px;
    margin-top: 10px;
    margin-left: 45px;
}

@media screen and (min-width: 426px)  {
    .sobrenos p {
        margin: 30px 25px 0px 75px ;
        font-weight: 400;
        line-height: 22px;
    }

    .sobrenos a {
        margin-top: 30px;
    }

    .sobrenos h3 {
        margin-top: 15px;
    }

    .sobrenos {
        height: 300px;
        margin-bottom: 10px;
    }

}

@media screen and (min-width: 390px)  {
    .sobrenos p {
        margin: 30px 25px 0px 75px;
        font-weight: 400;
        line-height: 22px;
    }

    .sobrenos {
        height: 270px;
    }
}